<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-color: rgba(0, 0, 0, 0.878);
    }

    .navbar{
        background-color: rgba(0, 0, 0, 0.349);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    i{
        margin-right: 20px;
    }

    .line{
        font-size: 17px;
        padding: 10px;
        color: white;
    }

    .main
    {
        padding: 10px;
        font-size: 17px;
        color: white;
    }
    .wrapper{
        display: flex;
    }
    button{
        background-color: transparent;
        color: white;
        border:none;
        outline:none;
    }
    span{
        color: rgba(22, 160, 162, 0.929);
    }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="get">
    <nav class="navbar">
        <h2 class="name">{ <span>Doje</span> :: bins }</h2>
        <div><button><i class="fa fa-plus" style="font-size:24px"></i></button></div>  
    </nav>
    </form>
    <div class="wrapper">
        <div class="line">
            <% for(let i=1;i<=code.split('\n').length;i++) { %>
                <div class="num">
                    <%= i %>
                </div>
                <% } %>
        </div>
        <div class="main">
            <pre><code><%= code %></code></pre>
        </div>
    </div>
</body>
</html>