<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-color: rgba(0, 0, 0, 0.878);
    }

    .navbar{
        background-color: rgba(0, 0, 0, 0.349);
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    i{
        margin-right: 20px;
    }

    .line{
        font-size: 17px;
        padding: 10px;
        color: white;
    }

    .main
    {
        padding: 10px;
        font-size: 17px;
        color: white;
    }
    .wrapper{
        margin: 20px;
        display: flex;
    }
    textarea{
        font-size: 17px;
        margin-left: 10px;
        color: white;
        resize: none;
        background-color: transparent;
        width: 100%;
        min-height: 87vh;
        border: none;
        outline: none;
    }
    .line-numer{
        color: white;
    }
    button{
        background-color: transparent;
        color: white;
        border:none;
        outline:none;
    }
    span{
        color: rgba(22, 160, 162, 0.929);
    }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.0/autosize.min.js" integrity="sha512-zibtOTbkMuTivXGk5b8yJFGLIB1jF90NuV7gwNcVWL3xZx/I1HdkXU2pCZhadsuaS5HMUzabvRqK4WmWeKrwUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <form action="save" method="post">
            <nav class="navbar">
                <h2 class="name">{ <span>Doje</span> :: bins }</h2>
                <div><button><i class="fa fa-save" style="font-size:24px"></i></button></div>  
            </nav>
            <div class="wrapper">
                <div class="line-numer">
                    &gt;
            </div>
                <textarea name="value" autofocus></textarea>
            </div>
        </form>
        <script>
            autosize(document.querySelector('textarea'))
        </script>
</body>
</html>